body {
  padding-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #ffe6f0;
}

/* Nav Bar Styling */
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffc0cb;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover:not(.active) {
  background-color: #ffff99;
}

ul.nav .active {
  background-color: #add8e6;
}

h1 {
  width: 100%;
}
